Package: com.ginsu.pockettranslator
Name: PocketTranslator ${PKG_NAME_SUFFIX}
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lightweight & convenient translator.
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), com.opa334.ccsupport
